/* ======= Base ======= */
body {
    font-family: arial, sans-serif;
    color: #444444;
}
a {
    color: #286da8;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}


a:hover {
    text-decoration: none;
    color: #1e527f;
}

.offset-header {
    padding-top: 90px;
}
.has-pattern {background-image: url('../images/darkbluepattern.jpg');
    background-color:#131820;
}

/* ======= Header ======= */
.header {
    padding: 15px 0;
    background: #fff;
    z-index: 9999;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
.header h1.logo {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 28px;
    max-height: 50px;
}
.header h1.logo a { 
    color: #FFA54F; 
}
.header h1.logo a img {
    margin-right: 5px;
    max-height: 50px;
}
.header .main-nav button {
    background: #0b1d2c;
    color: #fff !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.header .main-nav button:focus {
    outline: none;
}
.header .main-nav button .icon-bar {
    background-color: #fff;
}
.header .main-nav .nav .nav-item {
    font-weight: normal;
    text-transform: uppercase;
    margin-right: 10px;
}
.header .main-nav .nav .nav-item.active a {
    color: #286da8;
    background: none;
}
.header .main-nav .nav .nav-item a {
    color: #444444;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
}
.header .main-nav .nav .nav-item a:hover {
    color: #286da8;
    background: none;
}
.header .main-nav .nav .nav-item a:focus {
    outline: none;
    background: none;
}
.header .main-nav .nav .nav-item a:active {
    outline: none;
    background: none;
}
.header .main-nav .nav .nav-item.active {
    color: #286da8;
}
.header .main-nav .nav .nav-item.last {
    margin-right: 0;
}

/* ======= Promo Section ======= */
.promo {
    background-color: #004080;
    color: #fff;
}
.promo .container {
    padding-bottom: 15px;
}
.promo .overview {
    margin-top: 60px;
  
 
}
.promo .title h2 {
    font-size: 60px;
    margin-bottom: 35px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.promo .overview .summary {
    margin-bottom: 60px;
   }

h2 {
    font-family: montserrat;
    line-height: 1em;
    color: #286da8;
    font-weight:bold;
    font-size: 48px;
    text-align:center;
 }

.promo .overview .summary p {
    margin-bottom: 15px;
    list-style: none;
    font-size: 20px;
    font-weight: 300;
    color:#ffffff;
}
.promo a {
    color: #fff;
    text-decoration: underline;
}

/* ======= Footer ======= */
.footer {
    background: #FFEECA;
    color: #fff;
    padding: 15px 0;
}
.footer .copyright {
    color: #b3b3b3;
    margin-right: 15px;
}
.footer .links {
    margin-bottom: 0;
}
.footer .links a {
    color: #808080;
}
.footer .links a:hover {
    color: #286da8;
}

/* ======= Portfolio Section ======= */
.faq {
    padding: 80px 0;
}
/* ======= FAQ Section ======= */
.faq {
    padding: 80px 0;
}
.faq .title {
    margin-bottom: 60px;
}
.faq .item {
    padding: 30px;
    background: #f5f5f5;
    margin-bottom: 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-bottom: 3px solid #87b8e2;
}
.faq .item .question {
    margin-top: 0;
    font-size: 18px;
    margin-bottom: 15px;
}
.faq .item .question .fa {
    margin-right: 10px;
    color: #3488cf;
}
.faq .item .answer {
    color: #777777;
    font-weight: 300;
}
.faq img {
    width: 100%;
    border: 1px dotted darkslategrey;
}
.body-copy  {color:#ffffff;}

.content-footer {background-image: url('../images/darksoftcloth.png');
  /* Layout Declarations */
  margin-top: 5em;
  padding: 4em 0;
  /* Appearance Rules */
  background-color:#7A7A7A;
}

.content-footer > p {
  /* Typography Declarations */
  color: #ffffff;
}

.social {
  /* Layout Declarations */
  padding: 0;
  /* Appearance Declarations */
  list-style: none;
}

.social > li {
  /* Layout Declarations */
  display: inline-block;
  margin-right: 1em;
}

@media only screen and (max-width: 500px) {
  .masthead {
    padding: 3em 0;
  }
  .masthead-heading {
    font-size: 3em;
  }
}

h1{
    margin-bottom: 40px;
}

label {
    color: #333;
}
.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}

 #contact p {text-align:center;}

 
